{
  "ApplicationHomePage": "http://localhost:8080/cog/",
  "ApplicationName": "Cognoscenti",
  "BaseURL": "http://localhost:8080/cog",
  "tenants": [{
    "id": "only_tenant",
    "options": [
      {
        "img": "http://localhost:8080/id/$/icon.ldap.gif",
        "name": "LDAP based ID",
        "type": "big",
        "url": "http://localhost:8080/id/"
      },
      {
        "img": "http://localhost:8080/emailid/$/icon.local.gif",
        "name": "Login with your email address",
        "type": "big",
        "url": "http://localhost:8080/emailid/"
      },
      {
        "img": "google.gif",
        "name": "Google ID",
        "prompt": "Enter your user name at Google",
        "url": "https://www.google.com/accounts/o8/id",
        "type": "big"
      },
      {
        "name": "My Open ID online provider",
        "prompt": "Enter your user name at MyOpenID.com",
        "url": "http://{id}.myopenid.com/"
      },
      {
        "img": "wordpress.gif",
        "name": "Wordpress ID",
        "prompt": "Enter your Wordpress user name",
        "url": "http://{id}.wordpress.com/"
      }
    ]
  }]
}